version: '3.8'

services:
  express-app:
    image: nyonjes/express-app:latest
    ports:
      - "5000:5000"
    restart: always

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    environment:
      - WATCHTOWER_POLL_INTERVAL=30
